#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.resizer {
background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='3' ry='8' stroke='%235290FFFF' stroke-width='4' stroke-dasharray='6%2c 12' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
  padding: 20px;
}
.canvas {
  max-width: 200px;
  margin: 10px;
}
.resizer__file {
  margin: 4px;
  padding: 3px;
  font-size: 20px;
  display: flex;
  align-items: center;

}
.dimensions {
  display: flex;
}

.resizer__input {
margin: 4px;
  width: 75px;
  padding: 5px;
}
.image-and-btn {

  display: flex;
  flex-direction: column;
  margin: 10px;
}
.btn {
  margin: 10px;
}
.upload-icon {
  width: 200px;
  height: 200px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3px;
  width: 100%;
 
}
.logo {
  display: flex;
  align-items: center;
  width: 50%;
}
.logo-image {
  width: 40px;
}
.links {
  display: flex;
  justify-content: space-around;
  width: 50%;

  padding: 2px;
}